html {
  font-family: Verdana;
  font-weight: normal;
  text-align: center;
  background-color: Black;
}

.download {
  font-size: 16px;
  color: Aquamarine;
}

h1, h2{
  color: White;
}

h1{
  font-size: 50px;
}

h2 {
  font-size: 42px;
}
