html {
  font-family: Verdana;
  font-weight: normal;
  text-align: center;
  background-color: Black;
}

.download {
  font-size: 16px;
  color: Aquamarine;
}

h1, h2{
  color: White;
}

h1{
  font-size: 50px;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

h3 {
  font-size: 21px;
  color: Gray;
  font-weight: lighter;
}

#footer {
  text-align: right;
  color: Gray;
  font-size: 21px;
}
